
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h1>Login Form</h1>
<div class=" w3l-login-form">
    <h2>Login Here</h2>
    <form action="verify" method="POST">
        @if (ViewBag.Message == "failed")
        {
            <div class="failed">
                <label>*Username or password is incorrect</label>
            </div>
        }
            <div class=" w3l-form-group">
                <label>Username:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="Name" class="form-control" placeholder="Username" required="required" />
                </div>
            </div>
            <div class=" w3l-form-group">
                <label>Password:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" name="Password" class="form-control" placeholder="Password" required="required" />
                </div>
            </div>

            <button type="submit">Login</button>
        </form>
</div>